*{
  box-sizing: border-box;
}

html{
margin:0;
}

body{
  background: #F6E3BA ;
  direction: rtl;
  margin: 0;
}

.container{
  max-width: 1300px;
}

header{
  background: #cfb284e1;
  min-height: 80px;
  background: ;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 100px;
}


li a{
  text-decoration: none;
  color:#817158;
  font-size: 1.5em;
  transform: 1s;
}

header .nav a:hover{
  color: #FFFDE7;
}

nav a::after{
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background:  #817158;
  transition: 1s;
  margin-left: 0;
  margin: 0 auto;
  
}

nav a:hover::after{
  width: 100%;
}

nav a::before{
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background:  #817158;
  transition: 1s;
  margin: 0 auto;
}

nav a:hover::before{
  width: 100%;
}

footer{
background: #cfb2847b;
margin-top: 20px;
margin-bottom: 0;
padding: 15px;
}

.box{
height: 100px;
}

.icon{
font-size: 2.5em;
transition: 0.5s;
color: #817158;
}

.icon:hover{
color: #FFFDE7;
font-size: 3.5em;
}

.course a{
color:#817158;
font-size: 1.5em;
text-decoration: none;
}

.course a:hover{
color:#473e2f;
font-weight: bolder;
}

.logo a{
  color:#473e2f;
  text-decoration: none;
  text-align: left;
  font-family: "Beau Rivage", cursive;
  font-size: 7em;
  font-weight: bolder;
}

.pic1{
width: 25%;
height: 60vh;
border-radius: 25%;
opacity: 0.5;
border: #473e2f 5px solid;
}

.font1{
  font-size: 2em;
  margin-right: 25px;
  font-family: guttman yad-brush;
  color: #7a6a4f;
}



/* גודל מסך 992 פיקסלים רוחב ומטה */
@media (max-width:992px){
  header .row nav {
    display: none;
    position: absolute;
      background: #cfb284f8;
    color:#817158;
    width:60%;
    right:0;
    top: 75px;

  }

  header .row nav ul {
    display: block;
    text-align: center;
  }

  header .row nav ul li{
    padding:8px;
    border-bottom: 2px solid #7a6a4f;
  }



  header .row .burger i{
    /* מגדיל את האייקון של הבורגר */
    font-size: 2.5em;
  }

.small-pic{
  width: 100%;
  background-position: right;
}




}

@media (max-width:768px) {

  header {
    min-height: 50px;
  }
  header .logo{
    width:80%;
  }
  .vert{
    background-size: cover;
    background-position: center center;
    height: 50vh;
    width: 100%;
    border-radius: 20px;
    opacity: 0.2;
  }
  .vert-text{
    display: block;
    width: 100%;
  }

  footer img{
    width: 100%;
  }
  footer .box3{
    width: 100%;
    text-align: center;
    margin: 5px auto;
  }
  .about img{
    width: 100%;
    height: 250px;
  }

}

/* עוד מדיה למסך קטן יותר אפילו */
/* מה יקרה שהמסך קטן מ390 פיקסלים */
@media (max-width:390px){

  header .row nav {
    top:80px;
  }
  
  header {
    min-height: 50px;
  }

  header .logo{
    width:80%;
  }
  
  header .row .burger i{
    /* מגדיל את האייקון של הבורגר */
    font-size: 1.5em;
  }

  header .row nav .search input{
    max-width:100px;
    /* width:50%; */
  }

  footer .container{
    display: block;
  }
}
