body{
    margin: 0;
    direction: rtl;
    background: #cfb284f8;
    font-family: tahoma;
    color: #473e2f;
}

.container{
    width: 70%;
    margin: 5% auto;
    text-align: center;
}

.url{
    text-decoration: none;
    color: #473e2f;
    transform: 1s;
}

.url:hover{
    color: #FFFDE7;
    font-size: 2em;
}